<div class="htop">
    <h2 class="text-center">Добавление спикера</h2>
    <SpeakerForm
        @firstName={{this.model.firstName}}
        @lastName={{this.model.lastName}}
        @secName={{this.model.secName}}
        @saveSpeaker={{this.saveBook}}
    />
</div>

{{outlet}}