<div class="htop">
    <h2 class="text-center">Книги</h2>
    <div class="form-row navbar-panel justify-content-between">
        <div class="col-md-auto align-self-start">
            <div class="form-inline">
                {{!-- <input class="form-control mr-2 search-long" type="search" placeholder="Найти по полям" aria-label="Найти по полям"> --}}
                <input type="text" placeholder="Найти по полям" class="form-control mr-2 search-long" aria-label="Найти по полям" id="searchString" value="{{searchQuery}}" oninput={{action "setSearchQuery" value="target.value"}} />
                <button type="button" class="btn btn-outline-primary my-2" id="searchAction" onclick={{action "searchBooks" searchQuery}}>Найти</button>
            </div>
        </div>
        <div class="col-md-auto">
            <div class="form-inline">
                {{!-- <input class="form-control mr-2" type="search" placeholder="Поиск по тегам" aria-label="Найти по тегам"> --}}
                <input type="text" placeholder="Поиск по тегам" class="form-control mr-2" aria-label="Поиск по тегам" id="searchTagString" value="{{searchTagQuery}}" oninput={{action "setSearchTagQuery" value="target.value"}} />
                {{!-- <button class="btn btn-outline-primary my-2" type="submit">Поиск</button> --}}
                <button type="button" class="btn btn-outline-primary mr-2" id="searchAction" onclick={{action "searchTagBooks" searchTagQuery}}>Найти</button>
                <LinkTo @route="create.book" class="btn btn-outline-primary my-2">Создать</LinkTo>
            </div>
        </div>
    </div>
    {{#if this.isLoading}}
        <div class="welcome-page">
            <img src="./loading.gif" alt="">
        </div>
    {{else if this.isError}}
            <div class="welcome-page">
                <img src="./error.gif" alt="">
            </div>
    {{else}}
        <div class="row row-cols-1 row-cols-md-3 fix-margin">
            {{#each this.model as |book|}}
                <BookItem
                @bookName={{book.bookName}}
                @authorLastName={{book.authorLastName}}
                @authorLastName={{book.authorLastName}}
                @pageNumber={{book.pageNumber}}
                @tags={{book.tags}}
                @bookId={{book.id}}
                @rating={{book.rating}}
                @remarkLink={{book.remarkLink}}
                @deleteBook={{this.deleteBook}}
                />
            {{!--
            <div class="col mb-4">
                <div class="card">
                    <img src="images/book-cover.jpg" class="card-img-top" alt="Обложка книги">
                    <div class="card-header">
                        <h5 class="card-title">{{book.bookName}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div><strong>Автор</strong>: {{book.authorLastName}} {{book.authorLastName}}</div>
                            <div><strong>Количество страниц</strong>: {{book.pageNumber}}</div>
                            <div><strong>Теги</strong>:
                            {{#each book.tags as |tag|}}
                                <a href="#" class="tag-link"><span class="small">#{{tag}} </span></a>
                             {{/each}}
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-auto">
                                    Рейтинг:
                                </div>
                                <div class="col">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{book.rating}}%;" aria-valuenow="{{book.rating}}" aria-valuemin="0" aria-valuemax="100">{{book.rating}}%</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <a href="#" class="card-link line-offset">{{book.remarkLink}}</a>
                            </div>
                            <div class="col text-right">
                                <LinkTo @route="edit.book" @model={{book.id}} class="btn btn-outline-primary">
                                    <svg viewBox="0 0 16 16" class="bi bi-pencil card-button" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </LinkTo>
                                <button type="button" class="btn btn-outline-danger" {{on "click" (fn this.deleteBook book.id)}}>
                                    <svg viewBox="0 0 16 16" class="bi bi-trash card-button" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            --}}
            {{/each}}
        </div>
    {{/if}}
</div>

{{outlet}}