<div class="container h-100">
    <div class="htop">
        <h2 class="text-center">Спикеры</h2>

        <div class="form-row navbar-panel justify-content-between">
            <div class="col-md-auto">
                <LinkTo @route="create.speaker" class="btn btn-outline-primary">
                    <svg viewBox="0 0 16 16" class="bi bi-plus card-button" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </LinkTo>
            </div>
            <div class="col-md-auto">
                <div class="form-inline">
                    <input type="text" placeholder="Поиск по Фамилии Имени Отчетву" class="form-control mr-2 search-long search-only" aria-label="Спикер" id="searchString" value="{{searchQuery}}" oninput={{action "setSearchQuery" value="target.value"}} />
                    <button type="button" class="btn btn-outline-primary my-2" id="searchAction" onclick={{action "searchSpeacker" searchQuery}}>Найти</button>
                </div>
            </div>
        </div>

        {{#if this.isLoading}}
                <div class="welcome-page">
                    <img src="./loading.gif" alt="">
                </div>
        {{else if this.isError}}
                <div class="welcome-page">
                    <img src="./error.gif" alt="">
                </div>
        {{else}}
            <div class="row row-cols-1 row-cols-md-3">
                 {{#each this.model as |speaker|}}
                     <SpeakerItem
                            @lastName={{speaker.lastName}}
                            @firstName={{speaker.firstName}}
                            @secName={{speaker.secName}}
                            @speakerId={{speaker.id}}
                            @deleteSpeaker={{this.deleteSpeaker}}
                      />
                {{/each}}
            </div>
        {{/if}}
    </div>
</div>

{{outlet}}